@import "assets/css/variables";

.invite-page {
  color: $main-color;
  .invite-header {
    h1 {
      color: inherit;
      font-size: 27px;
      font-weight: 600;
    }
  }
  .invite-content {
    background: #ffffff;
    box-shadow: 0 0 7px 0 rgba($color: #000000, $alpha: 0.1);

    padding: 25px 25px 25px 50px;
    border-radius: 7px;
    ul {
      list-style: none;
      li {
        line-height: 33px;
      }
    }
  }
}
