.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  
    .login-left {
      width: 45%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  
    .login-right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .ant-card-head-title {
        color: white;
        font-size: 35px;
        text-align: center;
      }
  
      .card-login-custom {
        width: 450px;
        margin: auto;
        padding: 10px;
        border-radius: 20px;
        background-image: url("../../../../assets/images/signin/background-login.png");
  
        .ant-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 0px 65px;
          .title {
            color: white;
            font-size: 20px;
            font-weight: normal;
            display: flex;
            margin-bottom: 10px;
          }
  
          .ant-form-item {
            width: 100%;
            margin-bottom: 10px;
  
            .input-filed-label {
              width: 100%;
              height: 40px;
              border-radius: 10px;
              border: none;
            }
            .ant-form-item-control-input-content {
              display: flex;
              justify-content: center;
            }
          }
          .action {
            margin-bottom: 30px;
            margin-top: 30px;
            .primary-button {
              width: 100%;
              border: none;
              border-radius: 10px;
              height: 40px;
              background: #ed7f00;
              color: white;
              font-size: 20px;
              font-weight: bold;
              border: 1px solid white;
              cursor: pointer;
            }
          }
        }
  
        .link-href {
          display: flex;
          font-size: 20px;
          width: 100%;
          margin-bottom: 20px !important;
  
          .ant-form-item-control {
            width: 100%;
  
            .ant-form-item-control-input-content {
              width: 100%;
              display: flex;
              justify-content: space-between;
  
              .forgot-button {
                font-size: 14px;
                color: white;
                text-decoration: none;
              }
  
              .sign-up-link {
                font-size: 14px;
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  
    #g-recaptcha {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 15px;
      border-radius: 15px;
      overflow: hidden;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .login .login-right .card-login-custom .ant-form .title {
      margin-left: 0px !important;
    }
  }
  @media only screen and (max-width: 400px) {
    .login {
      .login-right {
        width: 100% !important;
        .card-login-custom {
          width: 100% !important;
          .ant-form {
            padding: 0px 10px !important;
          }
        }
      }
    }
    .login .login-right .card-login-custom .ant-form .title {
      margin-left: 0px !important;
    }
  }
  @media only screen and (max-width: 800px) {
    .login {
      display: flex;
      justify-content: center;
  
      .login-left {
        display: none;
      }
  
      .login-right {
        width: 80%;
      }
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  