.register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .register-left {
    width: 45%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .register-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

    .ant-card-head-title {
      color: white;
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }

    .card-register-custom {
      width: 450px;
      color: white;
      font-weight: bold;
      font-size: 25px;
      margin: auto;
      padding: 10px;
      border-radius: 20px;
      background-image: url("../../../../assets/images/signin/background-register.png");

      .ant-card-body {
        .error-text {
          color: #ff5722;
        }
      }
      .ant-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 40px;
        .title {
          color: white;
          font-size: 18px;
          font-weight: normal;
          display: flex;
        }

        .ant-form-item {
          width: 100%;
          margin-bottom: 10px;

          .input-filed-label {
            width: 79%;
            height: 40px;
            border-radius: 5px;
            border: none;
          }
          .ant-form-item-control-input-content {
            display: flex;
            justify-content: center;
            border-radius: 5px;

            .ant-input:hover,
            .ant-input:active,
            .ant-input:focus,
            .ant-input:valid {
              border: unset !important;
              outline: unset !important;
            }
            .input-field-label {
              border-radius: 5px;
            }
            .input-field {
              border-radius: 5px;
            }
            .input-field:hover,
            .input-field:focus,
            .input-field:active,
            .input-field:valid {
              border: unset !important;
              outline: unset !important;
              box-shadow: none !important;
            }
            .ant-input-affix-wrapper {
              border: none !important;
            }
            .ant-input-affix-wrapper-focused {
              outline: unset !important;
              border: unset !important;
              box-shadow: none !important;
            }
            .ant-input-affix-wrapper-focused:focus {
              border: unset !important;
              outline: unset;
            }
          }
        }
        .action {
          margin-bottom: 30px;
          margin-top: 30px;
          .primary-button {
            width: 100%;
            border: none;
            border-radius: 10px;
            height: 40px;
            background: transparent;
            color: white;
            font-size: 20px;
            font-weight: bold;
            border: 1px solid white;
            cursor: pointer;
          }
        }
      }

      .link-href {
        display: flex;
        font-size: 20px;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px !important;

        .ant-form-item-control {
          width: 100%;

          .ant-form-item-control-input-content {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .forgot-button {
              font-size: 14px;
              color: white;
              font-weight: normal;
              text-decoration: none;
            }

            .sign-up-link {
              font-size: 14px;
              color: white;
              font-weight: normal;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .register .register-right {
    padding: 20px 5px 100px;
  }
}

@media only screen and (max-width: 700px) {
  .register .register-right .ant-card-head-title {
    font-size: 17px;
  }
  .register .register-right .card-register-custom .ant-form {
    padding: 0 5px;
  }
  .register .register-right .card-register-custom .ant-form .title {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 800px) {
  .register {
    display: flex;
    justify-content: center;
    background: white;

    .register-left {
      display: none;
    }

    .register-right {
      width: 65%;
      .card-register-custom {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .register {
    display: flex;
    justify-content: center;

    .register-left {
      display: none;
    }

    .register-right {
      width: 85%;
      .card-register-custom {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .register {
    display: flex;
    justify-content: center;

    .register-left {
      display: none;
    }

    .register-right {
      width: 100%;
      .card-register-custom {
        width: 100%;
        .link-href {
          .ant-form-item-control {
            .ant-form-item-control-input-content {
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}
