@import "assets/css/variables";

.report-content {
  height: 100%;
  .report-card {
    background: $table-bg;
    border: 1px solid #efefef;
    box-shadow: $box-shadow;
    border-radius: 5px;
    .ant-card-head-title {
      color: $table-text;
      font-size: 22px;
    }
    .ant-card-extra {
      color: $table-text;
      font-weight: bold;
    }

    .report-table {
      .ant-table {
        border-top: 1px solid #efefef !important;
        background-color: transparent;
        .ant-table-cell {
          color: $table-text;
          background-color: transparent;
          .ant-empty {
            .ant-empty-description {
              color: $main-color;
            }
          }
        }
      }
      .ant-pagination {
        .ant-pagination-total-text {
          color: $table-text;
        }
        .ant-pagination-item-ellipsis {
          color: $table-text;
        }
      }
    }
  }
}
