@import "assets/css/variables";
.card-item-count {
  display: flex;
  align-items: center;
  padding: 6px 20px !important;
  width: 100%;
  min-width: 250px;
  height: 140px;
  background: $background-modal !important;
  border: 1px #ffff solid !important;
  border-radius: 12px !important;
  .ant-card-body {
    padding: 0;
    margin-left: auto;
    color: #ffffff;
    line-height: 30px;
    div {
      display: flex;
      justify-content: flex-end;
    }
  }
  .card-item-img {
    width: 39px;
    height: 39px;
  }
  .card-referals-price {
    margin-left: auto;
    font-family: $base-font;
    font-size: 30px;
  }
  .card-referals-title {
    text-align: end;
    margin-left: auto;
    font-family: $base-font;
    font-size: 20px;
  }
}
