.item-wallet-line {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgba($color: #000000, $alpha: 0.2);
  }

  .left {
    img {
      border-radius: 50%;
    }
  }
  .right {
    text-align: right;
    .balance {
      font-size: 17px;
      font-weight: 500;
    }
    .price {
      display: block;
    }
  }
}
